{:kotoba.app/id "cloud.itonami.isic-0112", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifra7tlcnwqru6xjuidxt6mir5hx5tj475v2posorjoy3azmq3ode", :kotoba.app/embed-url "ipfs://bafkreifra7tlcnwqru6xjuidxt6mir5hx5tj475v2posorjoy3azmq3ode", :published {:archive "https://kotobase.net/ipfs/bafkreifra7tlcnwqru6xjuidxt6mir5hx5tj475v2posorjoy3azmq3ode", :size 72252, :put-status 201, :get-status 200, :at "2026-08-15T12:55:35.370Z"}}
